.sidebar {
  width: 230px; /* 사이드바 너비 설정 */
  height:100vh;
    flex-shrink: 0; /* 사이드바가 줄어들지 않도록 설정 */
    background-color: #f8f9fa; /* 사이드바 배경색 */
    position: fixed; /* 화면에 고정 */
      top: 0; /* 상단 정렬 */
      left: 0; /* 왼쪽 정렬 */
      background-color: #f8f9fa; /* 배경색 */
      padding: 20px;
      overflow-y: auto; /* 내용이 많으면 스크롤 가능 */
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.nav-section {
  margin-bottom: 20px;
}

.nav-title {
  font-size: 16px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 10px;
}

.nav-submenu {
  list-style: none;
  padding-left: 15px;
}

.nav-submenu li {
  margin-bottom: 8px;
}

.nav-link {
  text-decoration: none;
  color: #495057;
}

.nav-link:hover {
  color: #007bff;
}
